<!-- <ion-card mode="ios">
  <ion-card-header>
    <ion-card-title>{{ item.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="text-color-placeholder">
      {{ item.description | slice: 0:150 }}
    </p>
  </ion-card-content>
  <ion-item lines="none">
    <ion-buttons slot="start">
      <ion-button size="small" slot="icon-only">
        <ion-icon
          [name]="!item.saved ? 'ar-bookmark' : 'ar-bookmarked'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button size="small" slot="icon-only">
        <ion-icon name="ar-share"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-card> -->
<ion-card
  mode="ios"
  class="box-product list-view"
  button
  (click)="onClickItem(item)"
>
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="5">
          <app-thumbnail
            [src]="item?.images.length > 0 ? (item?.images)[0].src : ''"
          ></app-thumbnail>
        </ion-col>
        <ion-col size="7">
          <section class="ion-padding">
            <h3>{{ item?.name }}</h3>
            <p>
              {{
                (item?.short_description || "").length > 150
                  ? (item?.short_description | slice: 0:150) + "..."
                  : item?.short_description
              }}
            </p>
          </section>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
