ion-slide {
  min-height: 200px;
}

section.content-header {
  h1 {
    font-size: 18px !important;
    font-weight: bold;
    color: var(--ion-color-darkmode-primary);
    margin-bottom: 4px;
    padding-top: 16px !important;
    margin-top: 0 !important;
  }

  p.date {
    margin-top: 0 !important;
    font-size: 10px !important;
    color: var(--ion-color-darkmode-tertiary);
  }

  ion-fab-button {
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

section.content-header.no-image {
  min-height: 100px !important;
}

section.content-body {
  padding: 48px 16px 16px !important;
  .brief-description {
    font-size: 13px !important;
    color: var(--ion-color-darkmode-tertiary);
    font-style: italic;
  }

  .description {
    font-size: 13px !important;
  }
}

.image-slides {
  .swiper-wrapper {
    .swiper-slide {
      background-color: rgb(255, 255, 255);
    }
  }
  img {
    filter: brightness(0.9);
  }
}

:host ::ng-deep ion-slides.image-slides {
  .swiper-pagination {
    .swiper-pagination-bullet {
      background: var(--ion-color-secondary) !important;
      opacity: 0.5 !important;
    }
    .swiper-pagination-bullet-active {
      background: var(--ion-color-secondary) !important;
      opacity: 1 !important;
      width: 15px !important;
      border-radius: 10px !important;
    }
  }
}
