<ion-content class="bg-color-white" scrollY="false">
  <ion-list class="ion-no-margin ion-no-padding">
    <ion-item lines="none">
      <ion-label>
        <ion-row>
          <ion-col class="ion-no-padding" size="8">
            <p class="text-bold text-color-dark title">{{ Reference?.name }}</p>
          </ion-col>
          <ion-col class="ion-no-padding" size="4">
            <!-- <p class="text-bold text-color-dark title">{{ Reference?.name }}</p> -->
          </ion-col>
        </ion-row>

        <section class="text-color-placeholder description ion-text-wrap">
          {{ Reference?.description }}
        </section>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
