<ion-card mode="ios" class="" button (click)="onClick.emit(item)">
  <ion-card-content class="ion-no-padding">
    <section class="details">
      <p class="sub-title">Chapter {{ item?.menu_order - 1 }}</p>
      <p class="title">
        {{ item?.name }}
      </p>
      <p class="count">{{ item?.count }} <span>Lessons</span></p>
    </section>
    <app-image-caching
      *ngIf="item?.image && item?.image.src"
      skeletonWidth="100%"
      [src]="item?.image.src"
    ></app-image-caching>
  </ion-card-content>
</ion-card>
