ion-content {
  background: #f4f4f4 !important;
  --background: #f4f4f4 !important;
}

ion-header {
  ion-toolbar {
    // --min-height: 80px !important;
    ion-title {
      p {
        margin: 0 !important;
      }
      p.title {
        font-size: 18px !important;
      }
      p.sub-title {
        font-size: 14px !important;
        color: var(--ion-color-medium) !important;
      }
      p.sub-sub-title {
        font-size: 12px !important;
        color: var(--ion-color-medium) !important;
      }
    }

    ion-button {
      font-size: 11px !important;
    }
  }

  ion-toolbar.home-toolbar {
    // --min-height: 110px !important;
  }
}

ion-header:not(.dont-apply) {
  background: #f4f4f4 !important;
  --background: #f4f4f4 !important;
  background-image: none !important;
  ion-toolbar {
    background: transparent !important;
    --background: transparent !important;
  }
}

.header-md::after {
  background-image: none !important;
  height: 0 !important;
}

ion-back-button {
  --icon-font-size: 1.8em !important;
}

ion-header.on-transparent-header::after {
  background-image: none !important;
}

ion-header.on-transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  ion-toolbar {
    background: transparent !important;
    --background: transparent !important;

    ion-button,
    ion-back-button {
      background: rgba(28, 27, 27, 0.5);
      border-radius: 50%;
      color: var(--ion-color-light) !important;
      --color: var(--ion-color-light) !important;
    }
    ion-back-button::part(icon) {
      color: var(--ion-color-light) !important;
      --color: var(--ion-color-light) !important;
    }
  }
}

section.content-header {
  position: relative;
  min-height: 40% !important;
  text-align: center !important;
  border-radius: 0 0 40px 40px;
  border-bottom: 1px solid var(--ion-color-darkmode-light) !important;
  box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
  padding-bottom: 32px !important;
  background: #fff !important;
  --background: #fff !important;
}

ion-viewer-modal ion-content,
ion-viewer-modal ion-header:not(.dont-apply),
ion-viewer-modal ion-footer {
  --background: #121212 !important;
  background: #121212 !important;
}
