.text-color-primary {
  color: var(--ion-color-primary) !important;
}

.text-color-white {
  color: #ffffff !important;
}

.text-color-placeholder {
  color: #9e9e9e !important;
}

.text-color-hard-orange {
  color: #ed7d31 !important;
}

.text-color-hard-yellow {
  color: #f7be06 !important;
}

.text-color-danger {
  color: var(--ion-color-danger) !important;
}

.text-color-success {
  color: var(--ion-color-success) !important;
}

.text-color-medium {
  color: var(--ion-color-medium) !important;
}

.text-color-warning {
  color: var(--ion-color-warning) !important;
}

.text-color-secondary {
  color: var(--ion-color-secondary) !important;
}

/**
  BACKGROUND
**/

.bg-color-primary {
  background: var(--ion-color-primary) !important;
  --background: var(--ion-color-primary) !important;
}

.bg-color-white {
  background: #ffffff !important;
  --background: #ffffff !important;
}

.bg-color-placeholder {
  background: #9e9e9e !important;
  --background: #9e9e9e !important;
}

.bg-color-hard-orange {
  background: #ed7d31 !important;
  --background: #ed7d31 !important;
}

.bg-color-hard-yellow {
  background: #f7be06 !important;
  --background: #f7be06 !important;
}

.bg-color-danger {
  background: var(--ion-color-danger) !important;
  --background: var(--ion-color-danger) !important;
}

.bg-color-success {
  background: var(--ion-color-success) !important;
  --background: var(--ion-color-success) !important;
}

.bg-color-medium {
  background: var(--ion-color-medium) !important;
  --background: var(--ion-color-medium) !important;
}

.bg-color-warning {
  background: var(--ion-color-warning) !important;
  --background: var(--ion-color-warning) !important;
}

.bg-color-secondary {
  background: var(--ion-color-secondary) !important;
  --background: var(--ion-color-secondary) !important;
}

.text-bold {
  font-weight: bold;
}
