<div *ngIf="isLoading">
  <ion-skeleton-text animated style="height: 200px; border-radius: 5px">
  </ion-skeleton-text>
</div>
<ng-container *ngIf="banners.length > 0 && !isLoading">
  <ion-slides
    pager="true"
    #ionSlides
    class="banner-slider"
    [options]="sliderOptions"
  >
    <ion-slide *ngFor="let src of banners" class="ion-no-padding animate-item">
      <!-- <img [src]="src" /> -->
      <app-image-caching
        [cover]="true"
        cover_height="300px"
        skeletonWidth="100%"
        skeletonHeight="300px"
        [src]="src"
      ></app-image-caching>
    </ion-slide>
  </ion-slides>
</ng-container>
