<ion-header>
  <ion-toolbar [class.ion-show]="!onSearch" [class.ion-hide]="onSearch">
    <ion-buttons slot="start">
      <ion-back-button icon="ar-back" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">
      <div class="title">{{ this.SelectedCategory?.name }}</div>
      <div class="sub-title">
        Chapter {{ this.SelectedCategory?.menu_order - 1 }} - {{
        this.SelectedCategory.count }} Lessons
      </div>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickSearchButton()">
        <ion-icon slot="icon-only" name="ar-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar
    [class.ion-hide]="!onSearch"
    [class.ion-show]="onSearch"
    mode="ios"
    showCancelButton="always"
    animated="true"
    debounce="800"
    (ionChange)="onInputSearchBar($event)"
    (ionClear)="onClearSearchBar()"
    (ionCancel)="onClickCancelSearch()"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section
    class="ion-padding-start ion-padding-end"
    *ngIf="!loading && IsMoreThanSixHoursCache"
  >
    <p class="line-through-text">
      <span class="text-color-placeholder">
        Last updated: {{ LessonTimestamp | amTimeAgo:true }} ago.
        <strong>Pull to refresh</strong>
      </span>
    </p>
  </section>

  <app-skeleton-box-product
    *ngIf="loading"
    [noOfItemLoader]="5"
    view="list"
  ></app-skeleton-box-product>

  <ng-container *ngIf="!loading && Data.length > 0">
    <app-lesson-item
      *ngFor="let item of Data"
      [item]="item"
      (onClick)="onClickItem($event)"
    ></app-lesson-item>
  </ng-container>
  <section
    class="no-record-container ion-margin"
    *ngIf="Data.length === 0 && !loading"
  >
    <app-no-item [view]="NoRecordsViewType.Image" [config]="NoRecordsConfig">
    </app-no-item>
  </section>
</ion-content>
