<ion-header>
  <ion-toolbar [class.ion-show]="!onSearch" [class.ion-hide]="onSearch">
    <ion-title>Offline Data</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickSearchButton()">
        <ion-icon slot="icon-only" name="ar-search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-searchbar
    [class.ion-hide]="!onSearch"
    [class.ion-show]="onSearch"
    mode="ios"
    showCancelButton="always"
    animated="true"
    debounce="800"
    (ionChange)="onInputSearchBar($event)"
    (ionClear)="onClearSearchBar()"
    (ionCancel)="onClickCancelSearch()"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ng-container *ngFor="let item of Data">
    <app-lesson-item
      [item]="item"
      (onClick)="onClickItem($event)"
    ></app-lesson-item>
  </ng-container>
  <section class="no-record-container ion-margin" *ngIf="Data.length === 0">
    <app-no-item [view]="NoRecordsViewType.Image" [config]="NoRecordsConfig">
    </app-no-item>
  </section>
</ion-content>
