ion-item {
}

ion-label {
  h2 {
    font-size: 12px !important;
    color: var(--ion-text-medium) !important;
  }
  i {
    font-size: 14px !important;
    color: var(--ion-text-medium) !important;
  }
}
